<div
  class="flex w-fit flex-col gap-3 rounded-md border-2 border-black p-4"
  [style.backgroundColor]="customBackgroundColor()">
  <ng-container [ngTemplateOutlet]="headerTemplate().template"></ng-container>
  <section>
    @for (item of list(); track item) {
      <ng-container
        [ngTemplateOutlet]="listItemTemplate().template"
        [ngTemplateOutletContext]="{ item: item }"></ng-container>
    }
  </section>

  <button
    class="rounded-sm border border-blue-500 bg-blue-300 p-2"
    (click)="addNewItem()">
    Add
  </button>
</div>
<ng-content></ng-content>
